# dev
/dev/
/pretrained_model/
# /datafiles/


# __pycache__
**/__pycache__

# 
**.sh
**.html
/exercise_dev.ipynb
/exercise_pub.ipynb
/exercise_oldver.ipynb
/project1
pretrained_model/nih_pneumothorax.pth
/datafiles/NIH_part/
